name: "Build and Push to Attic"

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:
    inputs:
      debug_enabled:
        type: boolean
        description: "Run the build with tmate debugging enabled"
        required: false
        default: false
      debug_detached:
        type: boolean
        description: "Run the build with tmate debugging enabled in detached mode"
        required: false
        default: true

permissions:
  contents: read
  id-token: write

jobs:
  check-flake:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup Nix Environment
        uses: ./.github/actions/setup-nix
        with:
          tmate-debug: ${{ inputs.debug_enabled }}
          tmate-detached: ${{ inputs.debug_detached }}

      - name: Run Flake Check
        run: |
          nix flake check -L --keep-going --override-input nix-secrets ./nix-secrets-dummy

  generate-matrix:
    needs: check-flake
    runs-on: ubuntu-latest
    outputs:
      hosts: ${{ steps.set-matrix.outputs.hosts }}
      packages: ${{ steps.set-matrix.outputs.packages }}
    steps:
      - uses: actions/checkout@v6

      - name: Setup Nix Environment
        uses: ./.github/actions/setup-nix
        with:
          use-magic-cache: "false"
          tmate-debug: ${{ inputs.debug_enabled }}
          tmate-detached: ${{ inputs.debug_detached }}

      - name: Generate Build Matrix
        id: set-matrix
        run: |
          JSON=$(nix flake show --json --override-input nix-secrets ./nix-secrets-dummy)
          HOSTS=$(echo "$JSON" | jq -c '.nixosConfigurations | keys')
          PACKAGES=$(echo "$JSON" | jq -c '.packages."x86_64-linux" // {} | keys')
          echo "hosts=$HOSTS" >> $GITHUB_OUTPUT
          echo "packages=$PACKAGES" >> $GITHUB_OUTPUT

  build-packages:
    needs: generate-matrix
    if: ${{ needs.generate-matrix.outputs.packages != '[]' }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        package: ${{ fromJson(needs.generate-matrix.outputs.packages) }}
    steps:
      - uses: actions/checkout@v6

      - name: Setup Nix Environment
        uses: ./.github/actions/setup-nix
        with:
          attic-endpoint: ${{ secrets.ATTIC_ENDPOINT }}
          attic-cache: ${{ secrets.ATTIC_CACHE }}
          attic-token: ${{ secrets.ATTIC_TOKEN }}
          tmate-debug: ${{ inputs.debug_enabled }}
          tmate-detached: ${{ inputs.debug_detached }}

      - name: Build Package ${{ matrix.package }}
        uses: ./.github/actions/build-push-attic
        with:
          name: ${{ matrix.package }}
          nix-attr: .#packages.x86_64-linux.${{ matrix.package }}
          attic-endpoint: ${{ secrets.ATTIC_ENDPOINT }}
          attic-cache: ${{ secrets.ATTIC_CACHE }}
          attic-token: ${{ secrets.ATTIC_TOKEN }}

  build-hosts:
    needs: [generate-matrix, build-packages]
    if: ${{ needs.generate-matrix.outputs.hosts != '[]' }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        host: ${{ fromJson(needs.generate-matrix.outputs.hosts) }}
    steps:
      - uses: actions/checkout@v6

      - name: Setup Nix Environment
        uses: ./.github/actions/setup-nix
        with:
          attic-endpoint: ${{ secrets.ATTIC_ENDPOINT }}
          attic-cache: ${{ secrets.ATTIC_CACHE }}
          attic-token: ${{ secrets.ATTIC_TOKEN }}
          maximize-space: "true"
          tmate-debug: ${{ inputs.debug_enabled }}
          tmate-detached: ${{ inputs.debug_detached }}

      - name: Build System ${{ matrix.host }}
        uses: ./.github/actions/build-push-attic
        with:
          name: ${{ matrix.host }}
          nix-attr: .#nixosConfigurations.${{ matrix.host }}.config.system.build.toplevel
          attic-endpoint: ${{ secrets.ATTIC_ENDPOINT }}
          attic-cache: ${{ secrets.ATTIC_CACHE }}
          attic-token: ${{ secrets.ATTIC_TOKEN }}
